.parent-container {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  width: 60vw;
}

.first-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 100%;
  width: 100%;

  box-shadow: inset 0px 4px 4px #ffffff0f;
  mix-blend-mode: normal;
  border: 1px solid #ffffff1a;
  opacity: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px 0px 0px 30px;
}

.second-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  background: #3547614D 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 4px 4px #FFFFFF0F;
  mix-blend-mode: normal;
  border: 1px solid #FFFFFF1A;
  opacity: 1;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border-radius: 0px 30px 30px 0px;
}

.input {
  align-self: center;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #0000004d;
  box-shadow: inset 0px 3px 3px #fffdfd40, 3px 3px 3px #221e1e47;
  mix-blend-mode: normal;
  border: 1px solid #ffffff1a;
  outline: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.resend-otp-and-timer-container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 65%;
    height: 18px;
}

.hidden {
    display: none;
}

.resend-otp-btn {
    outline: none;
    border: none;
    background: none;
    color: #999898;
    font-size: 16px;
    font-weight: bold;
}
.timer-span {
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.01px;;
}

.button {
  width: 50%;
  height: 45px;
  border-radius: 25px;
  color: #FFFFFFCC;
  font-size: 16px;
  font-weight: bold;
  align-self: center;
  letter-spacing: 0.02px;
  background: transparent
    linear-gradient(
      180deg,
      #00ff2580 0%,
      #000801 100%,
      #000401fd 100%,
      #000000 100%,
      #36a54680 100%,
      #36a54680 100%
    )
    0% 0% no-repeat padding-box;
  mix-blend-mode: normal;
  border: 2px solid #8cff0026;
  opacity: 1;
}

.first-container h1 {
  color: #ffffffb3;
  opacity: 0.9;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 0.02px;
}

p {
  color: white;
}
