.charts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
    width: 100vw;
}

.charts-inventory-container {
   display: flex;
   flex-direction: column;
    background: #2D2D2D80 0% 0% no-repeat padding-box;
   border-radius: 30px;
   opacity: 0.8;
   padding: 1rem;
}

.charts-orders-container {
    display: flex;
    flex-direction: column;
    background: #2D2D2D80 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 0.8;
    grid-row: 2 / 2;
    padding: 1rem;
 }

 .charts-battery-container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    background: #2D2D2D80 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 0.8;
    grid-row:  1 / 3;
    padding: 1rem;
 }

 .charts-margin-container {
    display: flex;
    flex-direction: column;
    background: #2D2D2D80 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 0.8;
    grid-row:  1 / 3;
    grid-column: 3 / 5;
    padding: 1rem;
 }

 .charts-heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
 }

 .charts-heading-container img {
    height: 0.3rem;
    width: auto;
 }

