.parent-container-side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 0%;
  width: auto;
  height: auto;

  background: rgba(255, 255, 255, 0.1);
  mix-blend-mode: normal;
  opacity: 1;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

a {
  height: 50px;
  width: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.active-tab-home {
  border-left: 5px solid #6dc4b6;
  background-color: #00000033;
  border-radius: 10px 0px 0px 10px;
}

a:hover {
  background-color: #00000033;
  border-radius: 10px 0px 0px 10px;
  border-left: 5px solid #6dc4b6;
}

img {
  height: 1.5rem;
  margin-top: 10px;
  aspect-ratio: fill;
}
